NET "clk" LOC = "B8" ; #clk
NET "AN<0>" LOC = "F17" ;
NET "AN<1>" LOC = "H17" ;
NET "AN<2>" LOC = "C18" ;
NET "AN<3>" LOC = "F15" ;
NET "BTN0" LOC = "B18" ; # RESET
NET "BTN3" LOC = "H13" ;
NET "seg<0>" LOC = "L18" ;
NET "seg<1>" LOC = "F18" ;
NET "seg<2>" LOC = "D17" ;
NET "seg<3>" LOC = "D16" ;
NET "seg<4>" LOC = "G14" ;
NET "seg<5>" LOC = "J17" ;
NET "seg<6>" LOC = "H14" ;
NET "seg_P" LOC = "C17" ; #DOT
NET "SW<0>" LOC = "G18" ;
NET "SW<1>" LOC = "H18" ;
NET "SW<2>" LOC = "K18" ;
NET "SW<3>" LOC = "K17" ;
NET "LED7" LOC = "R4" ; # SLP
NET "JA1" LOC = "L15" ; # Inp1
NET "JA2" LOC = "K12" ;#
NET "JA7" LOC = "K13" ; # Inp0
NET "JB1" LOC = "M13" ; # TXD1
NET "JB2" LOC = "R18" ; # ce_tact
NET "JB3" LOC = "R15" ; # T_cp
NET "JB4" LOC = "T17" ; # FT_cp
NET "JB7" LOC = "P17" ; # TXD0
NET "JB8" LOC = "R16" ; # SDAT
NET "JB9" LOC = "T18" ; # QM
NET "JC1" LOC = "G15" ; #en_tx
NET "JC2" LOC = "J16" ; #en_tx_word
NET "JC4" LOC = "H16" ; # ce_wr