NET "AN<0>" LOC = "F17" ; #AN0
NET "AN<1>" LOC = "H17" ; #AN1
NET "AN<2>" LOC = "C18" ; #AN2
NET "AN<3>" LOC = "F15" ; #AN3
NET "BTN0<0>" LOC = "B18" ; #BTN3
NET "BTN3<0>" LOC = "H13" ; #BTN0
NET "clk<0>" LOC = "B8" ; #F50MHz
NET "SEG<0>" LOC = "L18" ; #CA
NET "SEG<1>" LOC = "F18" ; #CB
NET "SEG<2>" LOC = "D17" ; #CC
NET "SEG<3>" LOC = "D16" ; #CD
NET "SEG<4>" LOC = "G14" ; #CE
NET "SEG<5>" LOC = "J17" ; #CF
NET "SEG<6>" LOC = "H14" ; #CG
NET "SEG<7>" LOC = "C17" ; #CP
NET "SW<0>" LOC = "G18" ; #SWT0
NET "SW<1>" LOC = "H18" ; #SWT1
NET "SW<2>" LOC = "K18" ; #SWT2
NET "SW<3>" LOC = "K17" ; #SWT3
NET "SW<4>" LOC = "L14" ; #SWT4
NET "SW<5>" LOC = "L13" ; #SWT5
NET "SW<6>" LOC = "N17" ; #SWT6
NET "SW<7>" LOC = "R17" ; #SWT7

