NET "AN<0>" LOC = "F17" ; # AN0
NET "AN<1>" LOC = "H17" ; # AN1
NET "AN<2>" LOC = "C18" ; # AN2
NET "AN<3>" LOC = "F15" ; # AN3
NET "BTN0" LOC = "B18" ; # to st
NET "BTN3" LOC = "H13" ; # RES
NET "clk" LOC = "B8" ; #F50MHz
NET "LED0" LOC = "J14" ; # LED0
NET "LED7" LOC = "R4" ; # LD7
NET "seg<0>" LOC = "L18" ; # CA
NET "seg<1>" LOC = "F18" ; # CB
NET "seg<2>" LOC = "D17" ; # CC
NET "seg<3>" LOC = "D16" ; # CD
NET "seg<4>" LOC = "G14" ; # CE
NET "seg<5>" LOC = "J17" ; # CF
NET "seg<6>" LOC = "H14" ; # CG
NET "seg_P" LOC = "C17" ; # CP
