NET "clk" LOC = "B8" ; #clk
NET "AN<0>" LOC = "F17" ;
NET "AN<1>" LOC = "H17" ;
NET "AN<2>" LOC = "C18" ;
NET "AN<3>" LOC = "F15" ;
NET "BTN<0>" LOC = "B18" ; # dec Mamp
NET "BTN<1>" LOC = "D18" ; # dec TX_DAT
NET "BTN<2>" LOC = "E18" ; # inc TX_DAT
NET "BTN<3>" LOC = "H13" ; # inc Mamp
NET "seg<0>" LOC = "L18" ;
NET "seg<1>" LOC = "F18" ;
NET "seg<2>" LOC = "D17" ;
NET "seg<3>" LOC = "D16" ;
NET "seg<4>" LOC = "G14" ;
NET "seg<5>" LOC = "J17" ;
NET "seg<6>" LOC = "H14" ;
NET "seg_P" LOC = "C17" ; #DOT
NET "SW<0>" LOC = "G18" ; #adr[0]
NET "SW<1>" LOC = "H18" ; #adrt[1]
NET "SW<2>" LOC = "K18" ; #adr[2]
NET "SW<3>" LOC = "K17" ; #sw[3]
NET "LED<0>" LOC = "J14" ; #
NET "LED<1>" LOC = "J15" ; #
NET "LED<2>" LOC = "K15" ; #
NET "LED<3>" LOC = "K14" ; #
NET "LED<4>" LOC = "E17" ; #
NET "LED<5>" LOC = "P15" ; #
NET "LED<6>" LOC = "F4" ; #
NET "LED<7>" LOC = "R4" ; #
NET "JA1" LOC = "L15" ; #ce_SIN
NET "JA8" LOC = "L16" ; #SCLK DAC8043
NET "JA9" LOC = "M14" ; #SDAT DAC8043
NET "JA10" LOC = "M16"; #NLD DAC8043
NET "JB1" LOC = "M13" ; #en_tx
NET "JB2" LOC = "R18" ; #UTXD
NET "JB3" LOC = "R15" ; #S
NET "JB4" LOC = "T17" ; #st_SADC
NET "JC7" LOC = "H15" ; #SCLK AD7895
NET "JC8" LOC = "F14" | PULLDOWN ; #SDAT AD7895
NET "JC9" LOC = "G16" ; #BUSY_AD7895
NET "JC10" LOC = "J12" ; #CONVST AD7895
NET "JD1" LOC = "J13" ;# en_rx_byte
NET "JD2" LOC = "M18" ;# URXD
NET "JD3" LOC = "N18" ;# OCD
NET "JD4" LOC = "P18" ;#st_SDAC